{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="blog">

{% for blog in post %}
<div class="container m-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
    <div class="card" style="width: 18rem;">
  <img src="{{blog.photo.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{blog.description}}</h5>
    <p class="card-text">.</p>
    <a href="{% url 'post-detail' blog.id %} " class="btn btn-primary">Посмотреть</a>
  </div>
        </div>
        </div>
</div>
    </div>


{% endfor %}

{% endblock %}

</div>

